name: Sync Fork with Upstream

on:
  schedule:
    # Esegue il controllo ogni giorno a mezzanotte
    - cron: '0 0 * * *'
  workflow_dispatch: # Ti permette di avviarlo manualmente se vuoi

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout target repo
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Sync upstream changes
        id: sync
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.4
        with:
          upstream_sync_repo: savtab34/EasyProxy
          upstream_sync_branch: main
          target_sync_branch: main
          target_repo_token: ${{ secrets.GITHUB_TOKEN }}
          test_mode: false

      - name: Timestamp
        run: date
